Package: com.hackcatml.mldecrypt
Name: mldecrypt
Version: 0.0.6
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: hackcatml
Author: hackcatml
Section: System
Tag: role::hacker
Depends:
