Package: com.hackcatml.mldecrypt
Name: mldecrypt
Version: 0.2.2
Architecture: iphoneos-arm
Description: iOS app binary dump & backup tool
Maintainer: hackcatml
Author: hackcatml
Section: System
Tag: role::hacker
Depends: ldid, firmware (>= 14.2)
